################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/html/.vs
/templates_c
/.vs
/html/node_modules
